.container{
    display: flex;
    align-items: center;
    font-family: 'Quick Sans', sans-serif;
    width: 100%;
}

.textContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    padding: 20px;
}

.textTitle{
    text-transform: uppercase;
    text-align: left;
    line-height: 1.25em;
    font-size: 72px;
}

.textDescription{
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
}

.imageContainer{
    width: 50%;
}

.imageContainer > img{
    width: 100%;
    height: 660px;
    object-fit: cover;
}
