.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 90px;
}

.imageContainer{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1606728035253-49e8a23146de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNoaWNrZW58ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(255,254,252);
    font-size: 51px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.title{
    text-align: center;
    line-height: 1.75em;
    font-size: 18px;
    margin: 20px 0px;
}

.description{
    text-align: center;
    line-height: 1.875em;
    font-size: 15px;
}

.btnLearnMore{
    margin-top: 30px;
    font-size: 16px;
    color: #2A7C6F;
    background: transparent;
    border: 1px solid #2A7C6F;
    border-radius: 33px;
    cursor: pointer;
    padding: 10px 20px;
}

.btnLearnMore:hover{
    color: white;
    background: #2A7C6F;
    transition: 0.5s;
}